<a href="https://colab.research.google.com/github/Impranjal/Multilingual-toxicity-analysis-on-OSN-/blob/main/major_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import re
import spacy

Added Dataset

In [54]:
df=pd.read_csv('english_dataset.tsv',sep='\t')

In [55]:
df.head()

      text_id                                               text  ... task_2 task_3
0  hasoc_en_1  #DhoniKeepsTheGlove | WATCH: Sports Minister K...  ...   NONE   NONE
1  hasoc_en_2  @politico No. We should remember very clearly ...  ...   HATE    TIN
2  hasoc_en_3  @cricketworldcup Guess who would be the winner...  ...   NONE   NONE
3  hasoc_en_4  Corbyn is too politically intellectual for #Bo...  ...   NONE   NONE
4  hasoc_en_5  All the best to #TeamIndia for another swimmin...  ...   NONE   NONE

[5 rows x 5 columns]

Replaced all username

In [56]:
df['text'] = df['text'].replace(r'@[^\s]+', value='', regex=True)

In [57]:
df['text'].head()

0    #DhoniKeepsTheGlove | WATCH: Sports Minister K...
1     No. We should remember very clearly that #Ind...
2     Guess who would be the winner of this #CWC19?...
3    Corbyn is too politically intellectual for #Bo...
4    All the best to #TeamIndia for another swimmin...
Name: text, dtype: object

Removed all special characters

In [58]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]
for char in spec_chars:
    df['text'] = df['text'].str.replace(char, ' ')

In [59]:
df['text'].head()

0     DhoniKeepsTheGlove   WATCH  Sports Minister K...
1     No  We should remember very clearly that  Ind...
2     Guess who would be the winner of this  CWC19 ...
3    Corbyn is too politically intellectual for  Bo...
4    All the best to  TeamIndia for another swimmin...
Name: text, dtype: object

In [60]:
df

            text_id  ... task_3
0        hasoc_en_1  ...   NONE
1        hasoc_en_2  ...    TIN
2        hasoc_en_3  ...   NONE
3        hasoc_en_4  ...   NONE
4        hasoc_en_5  ...   NONE
...             ...  ...    ...
5847  hasoc_en_5848  ...    UNT
5848  hasoc_en_5849  ...   NONE
5849  hasoc_en_5850  ...    TIN
5850  hasoc_en_5851  ...    UNT
5851  hasoc_en_5852  ...    UNT

[5852 rows x 5 columns]

Removed URLs ,including tweets URLs

In [62]:
df['text'] = df['text'].replace(to_replace=r'^https?:\/\/.*[\r\n]*',value='',regex=True)

In [63]:
df

            text_id  ... task_3
0        hasoc_en_1  ...   NONE
1        hasoc_en_2  ...    TIN
2        hasoc_en_3  ...   NONE
3        hasoc_en_4  ...   NONE
4        hasoc_en_5  ...   NONE
...             ...  ...    ...
5847  hasoc_en_5848  ...    UNT
5848  hasoc_en_5849  ...   NONE
5849  hasoc_en_5850  ...    TIN
5850  hasoc_en_5851  ...    UNT
5851  hasoc_en_5852  ...    UNT

[5852 rows x 5 columns]

Lowercased all the dataframe column entries

In [65]:
  df['text']= df['text'].str.lower()

In [66]:
df

            text_id  ... task_3
0        hasoc_en_1  ...   NONE
1        hasoc_en_2  ...    TIN
2        hasoc_en_3  ...   NONE
3        hasoc_en_4  ...   NONE
4        hasoc_en_5  ...   NONE
...             ...  ...    ...
5847  hasoc_en_5848  ...    UNT
5848  hasoc_en_5849  ...   NONE
5849  hasoc_en_5850  ...    TIN
5850  hasoc_en_5851  ...    UNT
5851  hasoc_en_5852  ...    UNT

[5852 rows x 5 columns]

In [67]:
df.head(10)

       text_id                                               text  ... task_2 task_3
0   hasoc_en_1   dhonikeepstheglove   watch  sports minister k...  ...   NONE   NONE
1   hasoc_en_2   no  we should remember very clearly that  ind...  ...   HATE    TIN
2   hasoc_en_3   guess who would be the winner of this  cwc19 ...  ...   NONE   NONE
3   hasoc_en_4  corbyn is too politically intellectual for  bo...  ...   NONE   NONE
4   hasoc_en_5  all the best to  teamindia for another swimmin...  ...   NONE   NONE
5   hasoc_en_6    i hope you remembered to wipe the blood off ...  ...   NONE   NONE
6   hasoc_en_7   latest design of  wc2019 trophy   cwc2019  cw...  ...   NONE   NONE
7   hasoc_en_8   ados  trendingnow  blacklivesmatter  justice ...  ...   PRFN    TIN
8   hasoc_en_9  thanks for your support  wow 600k  graffiti ha...  ...   NONE   NONE
9  hasoc_en_10  by wearing the  balidaanbadge over his gloves ...  ...   NONE   NONE

[10 rows x 5 columns]