<a href="https://colab.research.google.com/github/Impranjal/Multilingual-toxicity-analysis-on-OSN-/blob/main/major_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('english_dataset.tsv',sep='\t')

            text_id  ... task_3
0        hasoc_en_1  ...   NONE
1        hasoc_en_2  ...    TIN
2        hasoc_en_3  ...   NONE
3        hasoc_en_4  ...   NONE
4        hasoc_en_5  ...   NONE
...             ...  ...    ...
5847  hasoc_en_5848  ...    UNT
5848  hasoc_en_5849  ...   NONE
5849  hasoc_en_5850  ...    TIN
5850  hasoc_en_5851  ...    UNT
5851  hasoc_en_5852  ...    UNT

[5852 rows x 5 columns]

In [ ]:
df.columns=df.columns.str.replace('[#,@,&]','')

In [ ]:
df

            text_id  ... task_3
0        hasoc_en_1  ...   NONE
1        hasoc_en_2  ...    TIN
2        hasoc_en_3  ...   NONE
3        hasoc_en_4  ...   NONE
4        hasoc_en_5  ...   NONE
...             ...  ...    ...
5847  hasoc_en_5848  ...    UNT
5848  hasoc_en_5849  ...   NONE
5849  hasoc_en_5850  ...    TIN
5850  hasoc_en_5851  ...    UNT
5851  hasoc_en_5852  ...    UNT

[5852 rows x 5 columns]

In [ ]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]
for char in spec_chars:
    df['text'] = df['text'].str.replace(char, ' ')

In [ ]:
df['text']

0        DhoniKeepsTheGlove   WATCH  Sports Minister K...
1        politico No  We should remember very clearly ...
2        cricketworldcup Guess who would be the winner...
3       Corbyn is too politically intellectual for  Bo...
4       All the best to  TeamIndia for another swimmin...
                              ...
5847     davidfrum  trueblueusa1 That s cute and all  ...
5848    a recession issa comin   maga  magamyass  fuck...
5849     DoctorsFightBack  Will  The Mad n Irrational ...
5850     ShiningIndia  educatedindia or more like RUND...
5851    Could this be our new Prime Minister       Ric...
Name: text, Length: 5852, dtype: object

In [ ]:
df

            text_id  ... task_3
0        hasoc_en_1  ...   NONE
1        hasoc_en_2  ...    TIN
2        hasoc_en_3  ...   NONE
3        hasoc_en_4  ...   NONE
4        hasoc_en_5  ...   NONE
...             ...  ...    ...
5847  hasoc_en_5848  ...    UNT
5848  hasoc_en_5849  ...   NONE
5849  hasoc_en_5850  ...    TIN
5850  hasoc_en_5851  ...    UNT
5851  hasoc_en_5852  ...    UNT

[5852 rows x 5 columns]

In [ ]:
df['text'] = df['text'].replace(to_replace=r'^https?:\/\/.*[\r\n]*',value='',regex=True)

In [ ]:
df

            text_id  ... task_3
0        hasoc_en_1  ...   NONE
1        hasoc_en_2  ...    TIN
2        hasoc_en_3  ...   NONE
3        hasoc_en_4  ...   NONE
4        hasoc_en_5  ...   NONE
...             ...  ...    ...
5847  hasoc_en_5848  ...    UNT
5848  hasoc_en_5849  ...   NONE
5849  hasoc_en_5850  ...    TIN
5850  hasoc_en_5851  ...    UNT
5851  hasoc_en_5852  ...    UNT

[5852 rows x 5 columns]

In [ ]:
  df['text']= df['text'].str.lower()

In [ ]:
df

            text_id  ... task_3
0        hasoc_en_1  ...   NONE
1        hasoc_en_2  ...    TIN
2        hasoc_en_3  ...   NONE
3        hasoc_en_4  ...   NONE
4        hasoc_en_5  ...   NONE
...             ...  ...    ...
5847  hasoc_en_5848  ...    UNT
5848  hasoc_en_5849  ...   NONE
5849  hasoc_en_5850  ...    TIN
5850  hasoc_en_5851  ...    UNT
5851  hasoc_en_5852  ...    UNT

[5852 rows x 5 columns]

In [ ]:
df.head(10)

       text_id                                               text  ... task_2 task_3
0   hasoc_en_1   dhonikeepstheglove   watch  sports minister k...  ...   NONE   NONE
1   hasoc_en_2   politico no  we should remember very clearly ...  ...   HATE    TIN
2   hasoc_en_3   cricketworldcup guess who would be the winner...  ...   NONE   NONE
3   hasoc_en_4  corbyn is too politically intellectual for  bo...  ...   NONE   NONE
4   hasoc_en_5  all the best to  teamindia for another swimmin...  ...   NONE   NONE
5   hasoc_en_6   kellymiller513  therealoj32 i hope you rememb...  ...   NONE   NONE
6   hasoc_en_7   icc latest design of  wc2019 trophy   cwc2019...  ...   NONE   NONE
7   hasoc_en_8   ados  trendingnow  blacklivesmatter  justice ...  ...   PRFN    TIN
8   hasoc_en_9  thanks for your support  wow 600k  graffiti ha...  ...   NONE   NONE
9  hasoc_en_10  by wearing the  balidaanbadge over his gloves ...  ...   NONE   NONE

[10 rows x 5 columns]